* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    background: rgba(0, 0, 0, 0.65) url("images/donation3.jpg");
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    height: 710px;
    background-position: top;
}

.header h1 {
    padding-top: 180px;
    font-size: 70px;
    font-weight: 400;
    color: whitesmoke;
    padding-bottom: 30px;
}

.header h4 {
    color: whitesmoke;
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 60px;
    letter-spacing: 2px;
}

.button {
    text-decoration: none;
    background-image: linear-gradient(#e8eaec, #9bd49b);
    color: black;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 10px;
}

.donateToday {
    text-align: center;
    padding: 150px 0px;

}

.headingOne {

    font-size: 50px;
    letter-spacing: 1px;
    padding-bottom: 30px;
}

.headingFour {
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 20px;
    letter-spacing: 2px;
}

.taka {
    display: flex;
    padding: 30px 350px;
}

.takaAmount {
    width: 20%;
    background-color: #e8eaec;
    padding: 40px 10px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    border-radius: 5px;
    letter-spacing: 1px;
}

#specialTaka {
    background-color: #9bd49b;
    border: 3px solid green;
    color: #065506;
}

.donateToday input {
    border: none;
    border-bottom: 2px solid rgb(221, 220, 220);
    padding: 4px 270px;
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 35px;
    outline: none;
}

.donateToday input::placeholder {
    color: rgb(199, 197, 197);
}

.donatePlan {
    text-align: center;
    padding: 100px 0px 70px 0px;
}

.provide {
    display: flex;
    padding: 30px 100px;
}

.family {
    width: 33%;
    margin-left: 1%;
    margin-right: 1%;
    padding: 80px 25px 50px 25px;
    text-align: left;
    border-radius: 5px;
}

#food {
    background-color: #e8eaec;
}

#shelter {
    background-color: #dbe3db;
}

#education {
    background-color: rgb(221, 220, 220);
}

.family h3 {
    letter-spacing: 1px;
    padding: 30px 0px 15px 0px;
    font-size: 20px;
}

.family p {
    letter-spacing: 1px;
    padding: 15px 0px;
}
.lives{
    display:flex;
    padding:100px 50px;
}
.halfWidth{
    width:40%;
    margin-left: 5%;
    margin-right:5%;
}
.halfWidth img{
    width:95%;
}
.headOne{
    font-size: 40px;
    letter-spacing: 2px;
    padding-bottom: 50px;
}
.headFour{
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 50px;
    letter-spacing: 2px;
}

































.emailSection {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}




































 .juu{
     padding: 0px 300px; 
} 

.form {
    display: flex;
    background-color: #9bd49b;
    /* width: 700px;
    margin: 0 auto; */
    padding: 100px 160px;
}

.email1{
    width: 70%;
}
.email2{
    width: 30%;
}

.email1 input{
    width: 100%;
    padding: 15px 15px;
    background-color: azure;
    border: none;
    outline: none;
}

.email2 input{
    width: 100%;
    padding: 15px 10px;
    cursor: pointer;
    background-color: tomato;
    border: none;
}











































footer {
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

footer h1 {
    color: #9bd49b;
    letter-spacing: 1px;
    font-family: 'Lobster Two', cursive;
    font-size: 40px;
}

footer p {
    color: rgb(162, 160, 160);
    padding-top: 20px;
    letter-spacing: 1px;
    font-size: 14px;
}